{% block menu %}
    <ul class="nav navbar-nav">
        {% if app.user %}
            <li><a href="{{ path('ssh.index') }}">SSH</a></li>
        {% endif %}
        <li><a href="{{ path('default.about') }}">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <!-- Authentication Links -->
        {% if app.user %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="glyphicon glyphicon-user"></i>
                    {{ app.user.userName }} <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('logout') }}"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{{ path('login') }}">Login</a></li>
        {% endif %}
    </ul>
{% endblock %}
