{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <img src="{{ asset('bundles/app/img/monkey-toy-72.png') }}"/>
        <h1>Projects</h1>
        {% if app.user %}

            <table class="table">
                <tr>
                    <th class="text-center">Project</th>
                    <th class="text-center">Clone</th>
                    <th class="text-center">Work</th>
                    <th class="text-center">Web</th>
                    <th class="text-center">Action</th>
                </tr>
                {% for project in projects %}
                    <tr>
                        <td><a href="/{{ project.dir }}">{{ project.dir }}</a></td>
                        <td>{{ project.cloneHost }}<br/>{{ project.cloneIp }}</td>
                        <td>{{ project.hasWorkDir ? 'OK' : 'MISSING' }}</td>
                        <td>{{ project.hasWebDir ? 'OK' : 'MISSING' }}</td>
                        <td class="text-left"><a href="{{ path('remove', {'name': project.dir}) }}">Remove</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            {% for project in projects %}
                <h4><a href="/{{ project.dir }}">{{ project.dir }}</a></h4>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
