{% extends 'base.html.twig' %}

{% block body %}
    <div class="row text-center">
        <div class="col-xs-1"><img src="{{ asset('bundles/app/img/monkey-toy-72.png') }}"/></div>
        <div class="col-xs-3"><h1>Projects</h1></div>
        <div class="col-xs-8">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="btn btn-success" onclick="$(this).hide();$('#new').fadeIn()"><strong>+</strong></div>
                <form action="{{ path('new') }}" method="post" class="form-inline" id="new" style="display: none">
                    <div class="form-group">
                        <label for="project">New</label>
                        <input id="project" name="project" required="required"/>
                    </div>
                    <button class="btn btn-default">Add</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="text-center">
        {% if app.user %}
            <table class="table">
                <tr>
                    <th class="text-center">Project</th>
                    <th class="text-center">Clone</th>
                    <th class="text-center">Work</th>
                    <th class="text-center">Web</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="text-center">Action</th>
                    {% endif %}
                </tr>
                {% for project in projects %}
                    <tr>
                        <td><a href="/{{ project.dir }}">{{ project.dir }}</a></td>
                        <td>{{ project.cloneHost }}<br/>{{ project.cloneIp }}</td>
                        <td>{{ project.hasWorkDir ? 'OK' : 'MISSING' }}</td>
                        <td>{{ project.hasWebDir ? 'OK' : 'MISSING' }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td class="text-left">
                                <a href="{{ path('remove', {'project': project.dir}) }}">Remove</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>

            {% if consoleOutput is defined and consoleOutput %}
                <pre class="console">{{ consoleOutput }}</pre>
            {% endif %}

        {% else %}
            {% for project in projects %}
                <h4><a href="/{{ project.dir }}">{{ project.dir }}</a></h4>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
