{% block menu %}
    <ul class="navbar-nav mr-auto">
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item"><a class="nav-link" href="{{ path('ssh.index') }}">SSH</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('users-list') }}">Users</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{{ path('default.about') }}">About</a></li>
    </ul>
    <ul class="navbar-nav navbar-right mr-auto">
        <!-- Authentication Links -->
        {% if app.user %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    {{ app.user.username }} <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu">
                    <li><a class="dropdown-item" href="{{ path('user-edit', {'id': app.user.id}) }}">Change Password</a></li>
                    <li><a class="dropdown-item" href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li><a class="nav-link" href="{{ path('login') }}">Login</a></li>
        {% endif %}
    </ul>
{% endblock %}
