{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Change user keys{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Keys for user '{{ form.vars.value.username }}' ({{ form.vars.value.email }})</div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="form_group">
                        <div class="col-md-8 col-md-offset-2">
                            {{ form_row(form.sshKey) }}
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="col-md-8 col-md-offset-2">
                            {{ form_row(form.gpgFpr) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
