{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Users {% endblock %}

{% block body %}
    <div class="row text-center">
        <div class="col-xs-1"><img src="{{ asset('build/images/monkey-toy-72.png') }}"/></div>
        <div class="col-xs-10"><h1>Users</h1></div>
        <div class="col-xs-1">
            <a class="btn btn-success" href="{{ path('register') }}">+</a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>email</th>
            <th>Role</th>
            <th>SSH</th>
            <th>GPG</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.sshKey ? 'Yes' : 'No' }}</td>
                <td>{{ user.gpgFpr ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('user-edit', {'id': user.id}) }}">Edit</a>
                    <a href="{{ path('user-edit-keys', {'id': user.id}) }}">Keys</a>
                    <a href="{{ path('user-delete', {'id': user.id}) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="alert alert-warning text-center">No users found!</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
